# Python
__pycache__/
*.py[cod]
.venv/
.env
*.egg-info/
dist/
build/

# Database
*.db
*.db-journal

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Node (si se usa después)
node_modules/

# Temp
tmp/
*.swp
*.swo
